@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.header-nav{
  background: rgb(81,156,212);
  background: linear-gradient(90deg, rgba(81,156,212,1) 55%, rgba(111,90,193,1) 60%);
}

.quote-icon{
  
}

.animate-waving-hand{
-webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
}



@media only screen and (max-width: 540px) { 
  .quote-icon{
    left:20px;
  }
}
